In [1]:
import numpy as np
import pandas as pd
import subprocess
import os, sys
import time
from collections import defaultdict
from collections import Counter

from api_opcode_list import *

In [5]:
data_dir = "./test_folder"
answer_file = "TrainSet_answer.xlsx"

In [6]:
file_list = os.listdir(data_dir)

In [14]:
opcodes = defaultdict(lambda: 0)
all_data = defaultdict(lambda: opcodes)
idf_data = defaultdict(lambda: 0)
all_opcodes = []

start = time.time()
for count, i in enumerate(file_list):
    if count % 100 == 0:
        print(count)
    command = "objdump -d "+data_dir+"/" + i + "|grep '[0-9a-f]:'|grep -v 'file'|cut -f2 -d:|cut -f1-6 -d' '|tr -s ' '|tr '\t' ' '|sed 's/ $//g'|paste -d '' -s |sed 's/^/\"/'|sed 's/$/\"/g'"
    return_v = subprocess.check_output(command, shell=True).decode("utf-8")
    result = return_v.split()
    
    #for count opcodes
    opcodes = dict(Counter(result))
    for v in dict(Counter(result)).keys():
        if(len(v)<2 or len(v)>2):
            del opcodes[v]
            continue
        if not v in opcodes_list:
            del opcodes[v]
            continue
        #for IDF
        idf_data[v] += 1
    all_data[i] = opcodes
#     break
end = time.time()
print("Processing time: {}s".format(end-start))

0
Processing time: 1.14259672164917s

In [15]:
start = time.time()
print("TF-IDF Processing")
#TF-IDF Processing
for index, i in enumerate(all_data):
    print(index)
    for j in temp_all_data[i]:
        all_data[i][j] = round(all_data[i][j]/ idf_data[j], 7)
end = time.time()
print("Processing time: {}s".format(end-start))

TF-IDF Processing
0
1
2
3
4
Processing time: 0.00869297981262207s

In [20]:
opcodes_list.insert(0, "filename")

In [34]:
df_data = pd.DataFrame(columns=opcodes_list)
df_data

Empty DataFrame
Columns: [filename, 4e, f3, 31, 0b, 55, 6f, ef, 5e, 8b, 62, 77, c7, d4, df, 36, 6e, 21, ab, 7c, 3d, d7, 3a, 6c, d6, 4a, e1, 33, 5b, a0, 28, 89, 80, f0, 43, e5, cc, b4, 63, a7, a1, a4, 1f, fc, 20, 8f, 40, 00, 17, ea, 09, 08, 1c, 11, 90, 24, 97, 02, f5, 01, 92, 10, e6, 0f, b7, 4d, f4, 79, 37, 9d, ac, 8a, d5, cd, 56, 2a, 75, 78, 65, ec, 5c, 14, 1d, d0, 84, 7a, 54, dd, de, ee, c6, 61, 2b, 86, d2, ae, e8, 64, 39, 57, ...]
Index: []

[0 rows x 257 columns]

In [35]:
# temp_all_data = all_data
for index, i in enumerate(all_data):
    print(index)
    all_data[i]['filename'] = i
    df_data = df_data.append(all_data[i], ignore_index=True)

0
1
2
3
4

In [36]:
df_data

,filename,4e,f3,31,0b,55,6f,ef,5e,8b,...,98,3e,23,5f,7f,ba,2f,ca,e0,fd
0,0a5d7a57836d00c30c75bf3d75980962.vir,125.4,117.6,216.4,374.4,68.8,372.2,154.75,196.8,73.0,...,111.0,128.4,294.8,143.4,318.0,186.6,215.0,46.6,307.4,584.0
1,0a2fd78b2f9efe24ca9223993fa7ca09.vir,3.8,18.2,4.4,2.8,7.8,1.2,10.75,11.2,70.2,...,0.8,0.4,2.6,8.0,19.4,0.2,3.0,0.6,1.0,1.2
2,0a6c82b6e2905a18cd069b13f2e4653f.vir,27.8,5.0,3.0,12.8,28.4,1.2,3.25,14.6,158.4,...,3.8,17.2,8.0,10.2,4.2,0.2,2.4,6.8,16.0,8.8
3,0a3c1161049556a21c57ab94a63fe0aa.vir,4.8,7.0,6.0,15.4,34.8,0.8,5.25,16.6,145.0,...,7.0,4.2,7.2,11.0,6.0,2.6,1.6,5.4,18.0,9.2
4,0a0ad5ff274a524fe85b643efa852627.vir,3.6,0.2,4.4,6.4,12.0,28.2,NaN,2.0,60.4,...,3.8,2.6,3.0,24.2,0.2,0.2,6.0,1.2,7.6,0.4

In [37]:
label_csv = pd.read_excel(answer_file)
label_csv.head()

                               filename  label
0  00011da62b42afdb113732252d44b054.vir      0
1  000aadad7b6e9316638e920f863855e7.vir      1
2  000abf288763309c61b418a26accde16.vir      0
3  000c843a3b33ece069ab68332166fcbf.vir      1
4  000cf187767e85e17fb8b082505d3bda.vir      1

In [38]:
temp = pd.merge(df_data, label_csv, on='filename')
temp.head()

,filename,4e,f3,31,0b,55,6f,ef,5e,8b,...,3e,23,5f,7f,ba,2f,ca,e0,fd,label
0,0a5d7a57836d00c30c75bf3d75980962.vir,125.4,117.6,216.4,374.4,68.8,372.2,154.75,196.8,73.0,...,128.4,294.8,143.4,318.0,186.6,215.0,46.6,307.4,584.0,1
1,0a2fd78b2f9efe24ca9223993fa7ca09.vir,3.8,18.2,4.4,2.8,7.8,1.2,10.75,11.2,70.2,...,0.4,2.6,8.0,19.4,0.2,3.0,0.6,1.0,1.2,1
2,0a6c82b6e2905a18cd069b13f2e4653f.vir,27.8,5.0,3.0,12.8,28.4,1.2,3.25,14.6,158.4,...,17.2,8.0,10.2,4.2,0.2,2.4,6.8,16.0,8.8,1
3,0a3c1161049556a21c57ab94a63fe0aa.vir,4.8,7.0,6.0,15.4,34.8,0.8,5.25,16.6,145.0,...,4.2,7.2,11.0,6.0,2.6,1.6,5.4,18.0,9.2,0
4,0a0ad5ff274a524fe85b643efa852627.vir,3.6,0.2,4.4,6.4,12.0,28.2,NaN,2.0,60.4,...,2.6,3.0,24.2,0.2,0.2,6.0,1.2,7.6,0.4,1

In [204]:
temp.to_csv('train_data_tfidf.csv', index=False)